<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=640">
  <title>visual-identity-expo</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 id="title">visual-identity-expo</h1>
<p>the expo side of <a href="http://radiodario.github.io/visual-identity">visual identity</a></p>

<div class="gallery">

    <div class="item main">
        <canvas class="currentFrame" width="640" height="640"></canvas>
    </div>

</div>


<div id="detail-modal" class="mfp-hide white-popup-block">
    <div class="image"></div>
    <p class="buttons">
        <a class="button red popup-modal-dismiss" href="#">Dismiss</a>
    </p>
</div>

<script id="live-reload" src="http://localhost:35730/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>